main {
  width: 100%;
  gap: 16px;
}

.assignment-description {
  height: fit-content;
}

.assignment-description table {
  min-width: 400px;
}

.assignment-description table tr td:first-child {
  position: relative;
}

.assignment-description table tr td:first-child:after {
  position: absolute;
  content: ":";
  left: calc(100% + 4px);
}

.assignment-submit-box {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.assignment-action {
  background-color: var(--background200);
  border-radius: 8px;
  display: flex;
  overflow: hidden;
  height: fit-content;
  flex: 1 0 50%;
  max-width: 100%;
}

.assignment-action button {
  margin-left: auto;
  border-radius: 0 8px 8px 0;
  padding: 4px 16px;
  height: 100%;
}

.assignment-status {
  border-radius: 8px;
  padding: 8px 16px;
  background-color: var(--background200);
  flex: 1 0 40%;
  display: flex;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 288px;
  border: 1px solid var(--border100);
  flex-wrap: nowrap;
  white-space: nowrap;
}

.assignment-status i {
  margin-left: auto;
  margin-right: 0;
  font-size: 1.1em;
}

input[type="file"] {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.assignment-data {
  border-radius: 8px;
  display: flex;
}

.assignment-data table {
  min-width: 496px;
}

.assignment-data table tr td:first-child {
  width: 10%;
  text-align: center;
}

.assignment-data table tr td:nth-child(2) {
  width: 20%;
}

.assignment-data table tr td:nth-child(3) {
  width: 40%;
}

.assignment-data table tr th:not(:first-child) {
  text-align: left;
}

.assignment-data table tr td:not(:first-child) {
  text-align: left;
}

@media (max-width: 992px) {
  .class-banner .card-footer p {
    margin: 0 !important;
    margin-right: 7% !important;
  }
}
